Phase 3/VMS/voting Management/WebContent/wsdl/parties.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://main" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://main" xmlns:intf="http://main" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://main" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getPartyinfo">
    <complexType>
     <sequence>
      <element name="Party_name" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getPartyinfoResponse">
    <complexType>
     <sequence>
      <element name="getPartyinfoReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getPartyinfoRequest">

      <wsdl:part element="impl:getPartyinfo" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getPartyinfoResponse">

      <wsdl:part element="impl:getPartyinfoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="parties">

      <wsdl:operation name="getPartyinfo">

         <wsdl:input message="impl:getPartyinfoRequest" name="getPartyinfoRequest">

       </wsdl:input>

         <wsdl:output message="impl:getPartyinfoResponse" name="getPartyinfoResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="partiesSoapBinding" type="impl:parties">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getPartyinfo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getPartyinfoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getPartyinfoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="partiesService">

      <wsdl:port binding="impl:partiesSoapBinding" name="parties">

         <wsdlsoap:address location="http://localhost:8080/voting_Management/services/parties"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
