Phase 3/VMS/voting Management/WebContent/wsdl/registrationinfo.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://main" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://main" xmlns:intf="http://main" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://main" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="insert_info">
    <complexType>
     <sequence>
      <element name="Cnic" type="xsd:string"/>
      <element name="Password" type="xsd:string"/>
      <element name="Name" type="xsd:string"/>
      <element name="Dob" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="insert_infoResponse">
    <complexType/>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="insert_infoResponse">

      <wsdl:part element="impl:insert_infoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="insert_infoRequest">

      <wsdl:part element="impl:insert_info" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="registrationinfo">

      <wsdl:operation name="insert_info">

         <wsdl:input message="impl:insert_infoRequest" name="insert_infoRequest">

       </wsdl:input>

         <wsdl:output message="impl:insert_infoResponse" name="insert_infoResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="registrationinfoSoapBinding" type="impl:registrationinfo">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="insert_info">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="insert_infoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="insert_infoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="registrationinfoService">

      <wsdl:port binding="impl:registrationinfoSoapBinding" name="registrationinfo">

         <wsdlsoap:address location="http://localhost:8080/voting_Management/services/registrationinfo"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
