Phase 3/VMS/voting Management/WebContent/wsdl/Voter.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://main" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://main" xmlns:intf="http://main" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://main" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="voter">
    <complexType>
     <sequence>
      <element name="Name" type="xsd:string"/>
      <element name="Cnic" type="xsd:string"/>
      <element name="Qualification" type="xsd:string"/>
      <element name="state_Number" type="xsd:string"/>
      <element name="Organization" type="xsd:string"/>
      <element name="Post" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="voterResponse">
    <complexType/>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="voterRequest">

      <wsdl:part element="impl:voter" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="voterResponse">

      <wsdl:part element="impl:voterResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Voter">

      <wsdl:operation name="voter">

         <wsdl:input message="impl:voterRequest" name="voterRequest">

       </wsdl:input>

         <wsdl:output message="impl:voterResponse" name="voterResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="VoterSoapBinding" type="impl:Voter">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="voter">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="voterRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="voterResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="VoterService">

      <wsdl:port binding="impl:VoterSoapBinding" name="Voter">

         <wsdlsoap:address location="http://localhost:8080/voting_Management/services/Voter"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
